<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.cyanlab.loinasd.wordllst">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".activities.FileManagerActivity" />
        <activity
            android:name=".activities.ChangingWLActivity"
            android:label="Edit Line"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.DnDTestActivity"
            android:label="Test"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.CardTestActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.NavActivity"
            android:label="@string/title_activity_nav"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.cyanlab.loinasd.wordllst.activities.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ShowActivity"></activity>
    </application>

</manifest>